:8443 {
  tls /certs/dev.crt /certs/dev.key

  handle_path /api/* {
    reverse_proxy host.docker.internal:8080
  }

  handle /rtc* {
    reverse_proxy livekit:7880
  }

  handle {
    reverse_proxy https://host.docker.internal:5173 {
      transport http {
        tls_insecure_skip_verify
      }
    }
  }
}
